# Subscription Service Credentials (REQUIRED)
ZCSSR_USER_EMAIL=your_email@example.com
ZCSSR_USER_PASSWD=your_password
ZCSSR_DOMAIN=sub.example.com

# Optional Settings
# ZCSSR_SUB_USE_DOMAIN=false
# EXTEND_SUB_NODES=
# GHPROXY_DOMAIN=ghp.ci
# SUBCONVERTER_VERSION=v0.9.0
